.search-magic {
  $search-magic-box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.1);
  $search-magic-font-size: 12px;
  $magic-blue: #0069D9;
  $magic-grey: #F7F7F7;

  .icon {
    display: inline-block;
    vertical-align: middle;
    &.padded {
      margin-right: 5px;
    }
  }

  z-index: 100;
  background: white;
  position: absolute;
  left: 0;
  right: 0;
  top: 100%;
  margin-top: -2px;
  font-size: $search-magic-font-size;
  box-shadow: $search-magic-box-shadow;
  border: 1px solid #CBCBCB;
  border-top-color: #00ACFB;
  color: #666;

  section {
    border-bottom: 1px solid #EAEAEA;
  }

  .search-magic-title {
    padding: 5px 10px;
    background-color: $magic-grey;
    display: flex;
    align-items: center;
  }

  .search-magic-suggestions {
    color: #000;
    ul {
      @include listreset();
      li a {
        display: block;
        padding: 5px 5px 5px 20px;
        &:hover {
          background: $magic-blue;
          color: white;
        }
      }
    }
  }

  .search-magic-other-search-partners {
    ul {
      @include listreset();
      li {
        display: inline-block;
        padding: 5px 0;
        &:hover {
          background: $magic-blue;
          color: white;
          a {border-color: transparent;}
        }
        a {
          display: block;
          padding: 3px 15px;
          border-right: 1px solid #CCC;
        }
      }
    }
  }

  .search-magic-settings {
    button {
      color: inherit;
      border: none;
      border-radius: 0;
      background: $magic-grey;
      padding: 10px;
      text-align: center;
      width: 100%;
      display: block;
      &:hover {
        background: darken($magic-grey, 5%);
      }
    }
  }
}
