.tile {
  position: relative;
  text-decoration: none;
  border: 1px solid #DDD;
  border-radius: $tile-border-radius;
  box-shadow: $tile-box-shadow;
  border: $tile-border;
  overflow: hidden;
  margin: 0 $tile-gutter-h $tile-gutter-v 0;
  color: $tile-text-color;
  font-size: $tile-font-size;

  .control {
    background-color: transparent;
    background-size: 24px;
    border: none;
    height: 24px;
    width: 24px;

    position: absolute;
    top: 4px;
    opacity: 0;
    z-index: 1;
    transition: opacity 100ms ease-out;
    cursor: pointer;
  }

  .tile-img-container:hover > .control {
    opacity: 1;
  }

  .control-block {
    right: 4px;
    background: url("../img/controls.svg#svgView(viewBox(320, 0, 40, 40))");
  }

  .control-block:hover {
    background: url("../img/controls.svg#svgView(viewBox(352, 0, 40, 40))");
  }

  .control-block:hover:active {
    background: url("../img/controls.svg#svgView(viewBox(384, 0, 40, 40))");
  }

  &.tile-placeholder {
    border: 2px dashed #c1c1c1;
    width: $tile-width;
    height: $tile-height;
    box-shadow: none;
  }

  .tile-img-container {
    width: $tile-img-width;
    height: $tile-img-height;
    position: relative;
    overflow: hidden;
  }

  .tile-img,
  .tile-img-rollover {
    border-radius: $tile-border-radius $tile-border-radius 0 0;
    width: 100%;
    height: 100%;
    background-color: #FFF;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    top: 0;
    left: 0;
  }

  .tile-img-rollover {
    transition: opacity 0.2s ease-in-out;
    opacity: 0;
  }

  &:hover .tile-img-rollover {
    opacity: 1;
  }

  .tile-title {
    background-color: $tile-title-bg-color;
    text-align: center;
    padding: 10px;
  }

  &:hover .tile-title {
    background-color: $tile-title-hover-color;
    color: $tile-title-hover-text-color;
  }

  $search-height-offset: $search-height + $tile-gutter-v * 2;

  // the +2px is for a border
  @function totalWidth($n) {
    $grid-container-padding: $tile-gutter-h;
    @return $tile-width * $n + ($tile-gutter-h * $n) + $grid-container-padding;
  }
  @function totalHeight($n) {
    @return $search-height-offset + $tile-height * $n + $tile-gutter-v * $n;
  }

  @mixin displayN($n) {
    &:nth-child(-n+#{$n}) { display: inline-block; }
  }

  @mixin heightQuery($n, $t) {
    @media (min-height: totalHeight($n)) {
      @include displayN($t);
    }
  }

  display: none;
  &:first-child {display: inline-block; }

  @include heightQuery(2, 2);
  @include heightQuery(3, 3);

  @media (min-width: totalWidth(2)) {
    @include displayN(2);
    @include heightQuery(1, 2)
    @include heightQuery(2, 4);
    @include heightQuery(3, 6);
  }
  @media (min-width: totalWidth(3)) {
    @include displayN(3);
    @include heightQuery(2, 6);
    @include heightQuery(3, 9);
  }
  @media (min-width: totalWidth(4)) {
    @include displayN(4);
    @include heightQuery(2, 8);
    @include heightQuery(3, 12);
  }
  @media (min-width: totalWidth(5)) {
    @include displayN(5);
    @include heightQuery(2, 10);
    @include heightQuery(3, 15);
  }
}
