.search {
  margin: $tile-gutter-v 0;

  .search-input-wrapper {
    margin: 0 auto;
    display: flex;
    align-items: center;
    max-width: 600px;
    height: $search-height;
    position: relative;
  }

  .search-input {
    flex-grow: 1;
    border: 1px solid;
    border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2);
    border-right: none;
    padding: 0 10px 0 $search-left-padding;
    height: $search-height;
    margin: 0;
    border-radius: 3px 0 0 3px;
    &:focus {
      outline: none;
      border-color: $focus-blue;
    }
  }

  .search-submit {
    font-size: 14px;
    height: 100%;
    background: transparent linear-gradient(rgba(255, 255, 255, 0.8), rgba(255, 255, 255, 0.1)) repeat scroll 0% 0% padding-box;
    border: 1px solid;
    border-color: rgba(23, 51, 78, 0.15) rgba(23, 51, 78, 0.17) rgba(23, 51, 78, 0.2);
    padding: 0 15px;
    border-radius: 0 3px 3px 0;
  }

  .search-input:focus + .search-submit {
    background: linear-gradient(#4cb1ff, #1793e5);
    color: white;
  }

  .search-icon {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: $search-left-padding;
    background-size: 20px;
    background-repeat: no-repeat;
    background-position: 8px center;
    @include bgimage('magnifier.png');
  }
}
