$bg-color: #F9F9F9;
$font: "Lucida Grande", sans-serif;
$focus-blue: #00ACFB;

$tile-img-width: 290px;
$tile-img-height: 180px;
$tile-title-height: 36px;
$tile-width: $tile-img-width + 2px;
$tile-height: $tile-img-height + $tile-title-height + 2px;

$tile-font-size: 13px;
$tile-border-radius: 8px;
$tile-box-shadow: 0 1px 3px #c1c1c1;
$tile-border: 1px solid white;
$tile-gutter-h: 20px;
$tile-gutter-v: 40px;
$tile-text-color: #5c5c5c;
$tile-title-bg-color: #F2F2F2;
$tile-title-hover-color: #333;
$tile-title-hover-text-color: white;

// 5 tiles
$grid-max-width: $tile-width * 5 + $tile-gutter-h * 6;

$search-height: 36px;
$search-left-padding: 36px;
$search-height-offset: $search-height + $tile-gutter-v * 2;

@mixin bgimage($file) {
  $url: "./img/#{$file}";
  background-image: url($url);
}

@mixin listreset() {
  padding: 0;
  margin: 0;
  list-style: none;
}

@import "./styles/normalize";

html,
body {
  height: 100%;
  width: 100%;
}

body {
  font-family: $font;
  background-color: $bg-color;
  font-size: 13px;
  @media (min-height: $search-height-offset + $tile-height + $tile-gutter-v * 2) {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.grid {
  padding-left: $tile-gutter-h;
  max-width: $grid-max-width;
  margin: 0 auto;
  text-align: center;
}

[hidden] {
  display: none !important;
}

// This is for screen readers
.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  border: 0;
}

@import "./components/Tile/Tile";
@import "./components/Search/Search";
@import "./components/Settings/Settings";
@import "./components/SearchMagic/SearchMagic";
